* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: $tt-reg;
	color: $black;
	line-height: 1;
}

section {
	padding: $section-padding;
}

h1, ul {
	margin-bottom: $copy-margin-bottom;
}

h1 {
	letter-spacing: 1px;
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
	line-height: 1.5;
}

ul {
	list-style: inside;
}

p, li {
	font-size: 1rem;
	line-height: 1.5;
}

